<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>form 입력</title>
</head>
<body>
<!-- form형식의 경우 ?name=xxx&email=yyy 형식의 parameter방식 -->
<form action="http://localhost:8080/hello/form-view" method="post" enctype="application/x-www-form-urlencoded">
  이름 : <input type="text" name="name">
  이메일 : <input type="text" name="email">
  <input type="submit" value="제출">
</form>
</body>
</html>